node_modules/
.vs/
.idea/
*.iml
/rethinkdb_data/

.yarn/install-state.gz
.yarn/build-state.yml

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/.env
redis.local.conf

dist/

.config/
generated/

*.heapsnapshot
*.log

package-lock.json
gh
wiki/
*.0x
*.yarn
